Source: list-cli-tools
Section: admin
Priority: optional
Maintainer: Adrian <adrian@mxlinux.org>
Build-Depends: debhelper (>=10)
Standards-Version: 3.9.8
Vcs-Git: git://github.com/AdrianTM/list-cli-tools

Package: list-cli-tools
Architecture: all
Depends: yad
Description: List CLI tools installed in Workbench respin
 This package lists the most important CLI tools that come pre-installed on Workbench
 It uses 'yad 'to display a pop-up window listing each CLI tools with a short description
